# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


#Latex
*.aux
*.log
*.synctex.gz
*.toc

#Temporary folders
[Bb]in
[Dd]ebug*/
[Rr]elease*/
ipch/
*.[Oo]bj/

#Resharper folders
_ReSharper*/
*.resharper

#NuGet
packages/

#Visual Studio files
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.atsuo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib #nåda...
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.sln.DotSettings

#VHDL files
*.qws
db/
incremental_db/
.qsys_edit/
simulation/
output_files/
*.bak
*.jdi

#NIOS files
[Oo]bj/
.metadata/