[submodule "TEDI/Documentation/Modules"]
	path = TEDI/Documentation/Modules
	url = git@github.com:Limro/LatexModules.git
[submodule "PLPA/Documentation/Modules"]
	path = PLPA/Documentation/Modules
	url = git@github.com:Limro/LatexModules.git
[submodule "SMP/Exam/LatexModules"]
	path = SMP/Exam/LatexModules
	url = git@github.com:Limro/LatexModules.git
[submodule "HowTo/Modules"]
	path = HowTo/Modules
	url = https://github.com/Limro/LatexModules.git
[submodule "SOEP/LatexModules"]
	path = SOEP/LatexModules
	url = git@github.com:Limro/LatexModules.git
[submodule "OPTI/Notes/Modules"]
	path = OPTI/Notes/Modules
	url = git@github.com:Limro/LatexModules.git
[submodule "ARDI/Modules"]
	path = ARDI/Modules
	url = git@github.com:Limro/LatexModules.git
