<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iha.SMAP.handin4"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:name="iha.SMAP.handin4.ITogService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name="iha.SMAP.handin4.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="iha.SMAP.handin4.ITogReceiver"
            android:enabled="true"
            android:exported="false" >
        </receiver>

        <service
            android:name="iha.SMAP.handin4.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".DownloadReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>