<style>
	/*White background*/ 
	body {
		background-color: #ffffff; 
	}

	b {
		font-family: "Arial", sans-serif;
		/*font-style: "serif";*/
		color: #000080;
		font-size: 20px;
	}

	li {
		font-family: "Arial", sans-serif;
		font-style: 
	}

	p {
		font-family: "Arial", sans-serif;
	}
</style>